#profile-photo{
    border-radius: 50%;
    
}
div.polaroid {
    width: 100%;
    background-color: rgb(11, 48, 11);
    opacity: 5;
    box-shadow: 0 4px 8px 0 rgba(4, 4, 50, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    align-content: center;
    border-radius: 7px;
    color: rgb(200, 226, 200);
    
  }
 
  #label{
    color: rgb(11, 48, 11);

  }
  