<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <p id="label">Username:</p>
    </div>
    <div class="col-md-2">
      <input class="form-control-lg" type="text" placeholder="username" [(ngModel)]="userNameInput" >
    </div>
    <div class="col-md-2">
        <a routerLink="/other_users"><button class="btn btn-lg btn-success" type="button" (click)='getUserInfo()'>Search</button></a>
      </div>
      <div class="col-md-1" style="margin-right:44px;">
          <a routerLink="/user"><button class="btn btn-lg btn-success" type="button">Home</button></a>
      </div>
  </div>
<div class="row">
  <div class="col-md-3"></div>
  <div id="userPic" class="col-md-5 polaroid"> 
    <img src="{{userFinalDetails.image}}" id="profile-photo">
    <hr>
    <p>Username:  {{userFinalDetails.userName}}</p>
    <hr >
    <p>Fullname:  {{userFinalDetails.fullName}}</p>
    <hr >
    <p>Bio:  {{userFinalDetails.briefDescription}}</p>
    <hr >
    <p>Public Repos: {{userFinalDetails.myPublicRepos}}</p>
    <hr>
  </div>
</div>
<div *ngFor='let repo of userInfoService.repo; let i = index;'>
  <div>Repo Name:{{userInfoService.repo[i].name}}</div>
    <p>{{userInfoService.repo[i].description}}</p>
    <p>{{userInfoService.repo[i].html_url}}</p>
    <p>{{userInfoService.repo[i].created_at}}</p>
    <p>{{userInfoService.repo[i].updated_at}}</p>
    <p>{{userInfoService.repo[i].homepage}}</p>
    <p>{{userInfoService.repo[i].license}}</p>
    <p>{{userInfoService.repo[i].forks}}</p>
</div>

